{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_create' %}">Создание продукта</a>
                </li>
{% endblock %}

{% block content %}
    <h1>Список Продуктов</h1>
{% for bs in basket%}
            <div style="border: 2px solid black; max-width: 300px; margin-bottom: 20px; padding-left: 15px;border-radius: 33px">
            <h4 style=" text-overflow: ellipsis; max-width: 300px;white-space: nowrap; overflow:hidden;">Продукт: {{ bs.products.name}}</h4>
                <p>Цена: {{ bs.products.price }}</p>
                <p>Количество: {{ bs.counts }}</p>
                <form action="{% url "basket_delete" bs.products.pk %}"  method="post">
                    {% csrf_token %}
                    <button type="submit">Удалить из корзины</button>
                </form>
            </div>
        {% endfor %}
{% endblock %}